.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

  border: solid 1px black;
}

.table__text:empty:last-of-type {
  margin: 0;

  border: solid 1px green;
}

.table__text:not(:empty):last-of-type {
  margin: 20px 0 0 0;

  border: solid 1px blue;
}
